html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

 /*TODO:
  * - Move the box shadow after the animation;
  * - Make css class for matching and not match;
  * - Use `animation-fill-mode: backwords` to generate cards on the deck;
  */

#deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

#deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 10px 0 rgba(46, 61, 73, 0.5);
}

.show {
  animation:
    open 1s,
    show-fa 1.3s;
}

.match {
  animation: y-match 1s;
}

.wrong {
  animation: not-match 1s;
}

.run-restart {
  animation: restart 1s;
}

@keyframes open {
  0% {background: #2e3d49;}
  100% {background: #02b3e4;}
}
@keyframes show-fa {
  0% {font-size: 0; color: transparent; user-select: none;}
  2% {font-size: 0; color: transparent;}
  100% {font-size: 33px;}
}

@keyframes y-match {
  0% {transform: translateY(0em) scale(1.05);}
  20% {transform: translateY(-1em) scale(1.05);}
  40% {transform: translateY(-1em) scale(.905);}
  60% {transform: translateY(-.8em) scale(.905);}
  80% {transform: translateY(1em) scale(1.05);}
  100% {transform: translateY(-1em) scale(1.05);}
}

@keyframes not-match {
  0% {transform: rotateZ(0deg) translateX(0em) scale(1.05);}
  20% {transform: rotateZ(-20deg) translateX(-1em) scale(1.05);}
  40% {transform: rotateZ(20deg) translateX(1em) scale(1.05);}
  60% {transform: rotateZ(-20deg) translateX(-1em) scale(1.05);}
  80% {transform: rotateZ(20deg) translateX(1em) scale(1.05);}
  100% {transform: rotateZ(-20deg) translateX(-1em) scale(1.05);}
}

@keyframes restart {
  0% {transform: rotateZ(0deg)}
  100% {transform: rotateZ(360deg)}
}

#deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

#deck .card.show {
  box-shadow: -8px 4px 23px 0 rgba(46, 61, 73, 0.5);
  transform: rotate3d(0, -20, 0, 180deg);
  transition: 1s;
  user-select: none;
  font-size: 33px;
  user-select: none;
}

#deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    user-select: none;
    transition-timing-function: background 0s .8s ease-in-out;
}

#deck .card.wrong {
    cursor: default;
    background: #FF514F;
    font-size: 33px;
    user-select: none;
    transition-timing-function: background 0s .8s ease-in-out;
}

/*
 * Styles for the Score Panel
 */

#score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

#score-panel #stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

#score-panel #stars li {
    list-style: none;
    display: inline-block;
}

#score-panel #restart {
    float: right;
    cursor: pointer;
}

#moves #restart .run-restart {
  transition-timing-function: 1s ease;
}